<!DOCTYPE html>
<html lang="ru">
@@include('components/Common/head/head.html', { 'title': 'Semprogroup test', 'css':
'main' })

<body data-simplebar>
  <div class="full-wrapper">
    @@include('components/Common/header/header.html')
    <main class="page" id="fullpage">
      @@include('template/Main/sections/banner-info/banner-info.html')
      @@include('template/Main/sections/description/description.html')
    </main>
  </div>

  <!-- Modals -->
  @@include('components/Shared/Popups/order-call-popup/order-call.html')
  @@include('components/Shared/Popups/video-popup/video.html')

  <!-- page scripts -->
  <script src="../styles/js/main.min.js"></script>
  <!-- end -->
</body>

</html>
