<!DOCTYPE html>
<html lang="ru">
@@include('components/Common/head/head.html', { 'title': 'Главная', 'css':
'main' })

<body>
  <div class="full-wrapper">
    @@include('components/Common/header/header.html')
    <main class="page">
      @@include('template/Main/sections/banner-info/banner-info.html')
      @@include('template/Main/sections/description/description.html')
    </main>
  </div>

  <!-- Modals -->
  <!-- Preloader -->


  <!-- page scripts -->
  <script src="../styles/js/main.min.js"></script>
  <!-- end -->
</body>

</html>
