.header {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  min-width: 280px;
  padding: 29px 0;
  background-color: $white;
  z-index: $header-z-index;
  transition: transform 0.3s ease;

  @include media-extra-large {
    padding: 40px 0;
  }

  @include media-medium {
    padding: 40px 0;
  }

  @include media-small {
    padding: 20px 0;
  }

  // .header__inner
  &__inner {
    display: grid;
    grid-template-columns: 128px auto minmax(156px, 100%) auto;
    align-items: center;
    justify-content: space-between;

    @include media-extra-large {
      grid-template-columns: 147px auto minmax(187px, 100%) auto;
    }

    @include media-large {
      grid-template-columns: 108px auto minmax(156px, 100%) auto;
    }

    @include media-medium {
      grid-template-columns: 145px auto minmax(156px, 100%) auto;
    }

    @include media-small {
      grid-template-columns: 29px auto 41px;
    }
  }

  // .header__menu
  &__menu {
  }

  // .header__flats
  &__flats {
    @include media-medium {
      grid-column: 4/5;
    }

    @include media-small {
      display: none;
    }
  }

  // .header__logo
  &__logo {
    justify-self: center;
    display: flex;
    height: max-content;
    margin-right: 53px;
    margin-bottom: 6px;

    @include media-large {
      margin-right: 45px;
    }

    @include media-medium {
      grid-column: 3/4;
      grid-row: 1/2;
      margin: 0;
    }

    @include media-small {
      grid-column: 2/3;
      margin: 0;
      margin-left: 13px;
    }

    & img {
      display: inline-block;
      width: 156px;
      height: 25px;

      @include media-extra-large {
        min-width: 187px;
        min-height: 30px;
      }

      @include media-small {
        min-width: 131px;
        min-height: 21px;
        max-width: 131px;
        max-height: 21px;
      }
    }
  }

  // .header__phone
  &__phone {
    @include media-medium {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    @include media-small {
      grid-column: 3/4;
    }
  }
}

.header-menu {
  // .header-menu__button
  &__button {
    display: flex;
    gap: 12px;
    align-items: center;

    @include media-extra-large {
      gap: 15px;
    }

    @include media-large {
      gap: 10px;
    }

    & span {
      @include pro-nova-sb13;
      color: $black;
      text-transform: uppercase;

      @include media-extra-large {
        @include pro-nova-sb15;
      }

      @include media-medium {
        @include pro-nova-sb12;
      }

      @include media-small {
        display: none;
      }
    }

    @include hover {
      & .header-menu__burger {
        & span {
          &:first-child {
            transform: translateY(-3px);
          }

          &:last-child {
            transform: translateY(3px);
          }
        }
      }
    }
  }

  // .header-menu__burger
  &__burger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    min-width: 32px;

    @include media-extra-large {
      gap: 5px;
      min-width: 38px;
    }

    @include media-small {
      min-width: 29px;
    }

    & span {
      display: block;
      min-width: 100%;
      height: 2px;
      background-color: $blue;
      transform: translateY(0px);
      @include defaultTransition;

      @include media-small {
        display: block;
      }
    }

    @include hover {
      & span {
        &:first-child {
          transform: translateY(-3px);
        }

        &:last-child {
          transform: translateY(3px);
        }
      }
    }
  }
}

.header-flats {
  // .header-flats__button
  &__button {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: max-content;
    border-radius: 100px;
    padding: 15px 20px;
    background-color: $blue;
    @include defaultTransition;

    @include media-extra-large {
      padding: 18px 26px;
      gap: 12px;
    }

    @include media-medium {
      padding: 15px 18px;
    }

    @include hover {
      & .header-flats__button-inside {
        & span {
          transform: translateY(-13px);
        }
      }
    }
  }
  // .header-flats__button-inside

  &__button-inside {
    display: flex;
    flex-direction: column;
    max-height: 13px;
    min-width: max-content;
    overflow-y: hidden;

    @include media-extra-large {
      max-height: 15px;
    }

    @include media-large {
      max-height: 12px;
    }

    & span {
      display: block;
      color: $white;
      @include pro-nova-sb13;
      text-transform: uppercase;
      @include defaultTransition;

      @include media-extra-large {
        @include pro-nova-sb15;
      }

      @include media-large {
        @include pro-nova-sb12;
      }
    }
  }

  // .header-flats__button-icon

  &__button-icon {
    display: block;
    width: 12px;
    height: 13px;
    background-image: url('../../assets/images/icons/arrow-down.svg');
    background-position: center;
    background-repeat: no-repeat;
  }
}
.header-phone {
  display: flex;
  gap: 40px;

  @include media-extra-large {
    gap: 45px;
  }

  @include media-large {
    gap: 35px;
  }

  // .header-phone__link
  &__link {
    min-width: max-content;
    @include pro-nova-sb14;
    color: $black;
    @include defaultTransition;

    @include hover {
      color: $blue;
      @include defaultTransition;
    }

    @include media-extra-large {
      @include pro-nova-sb17;
    }

    @include media-large {
      @include pro-nova-sb13;
      letter-spacing: unset;
    }

    @include media-medium {
      display: none;
    }
  }

  // .header-phone__order

  &__order {
  }

  // .header-phone__icon
  &__icon {
    display: none;
    width: 43px;
    height: 43px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid $blue;
    background-image: url('../../assets/images/icons/phone.svg');
    background-position: center;
    background-repeat: no-repeat;

    @include media-medium {
      display: flex;
    }

    @include media-small {
      width: 41px;
      height: 41px;
    }
  }
}

.phone-order {
  height: 13px;

  @include media-extra-large {
    height: 17px;
  }

  @include media-medium {
    width: 43px;
    height: 43px;
  }

  // .phone-order__button
  &__button {
    display: flex;
    min-width: max-content;

    @include hover {
      & .phone-order__button-inside {
        & span {
          transform: translateY(-13px);
        }
      }

      @include media-extra-large {
        & .phone-order__button-inside {
          & span {
            transform: translateY(-17px);
          }
        }
      }

      @include media-large {
        & .phone-order__button-inside {
          & span {
            transform: translateY(-12px);
          }
        }
      }
    }
  }

  // .phone-order__button-inside

  &__button-inside {
    display: flex;
    flex-direction: column;
    max-height: 13px;
    overflow: hidden;

    @include media-extra-large {
      max-height: 15px;
    }

    @include media-large {
      max-height: 12px;
    }

    @include media-medium {
      display: none;
    }

    & span {
      color: $blue;
      @include pro-nova-sb13;
      text-transform: uppercase;
      transform: translateY(0);
      @include defaultTransition;

      @include media-extra-large {
        @include pro-nova-sb15;
      }

      @include media-large {
        @include pro-nova-sb12;
      }
    }
  }
}
