// pro-nova semi-bold
@mixin pro-nova-sb18 {
  font-family: $ff_PNsb;
  font-size: 18px;
  line-height: 160%;
}

@mixin pro-nova-sb17 {
  font-family: $ff_PNsb;
  font-size: 17px;
  line-height: 100%;
}

@mixin pro-nova-sb15 {
  font-family: $ff_PNsb;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 1.05px;
}

@mixin pro-nova-sb14 {
  font-family: $ff_PNsb;
  font-size: 14px;
  line-height: 100%;
}

@mixin pro-nova-sb13 {
  font-family: $ff_PNsb;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0.91px;
}

@mixin pro-nova-sb12 {
  font-family: $ff_PNsb;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.84px;
}

@mixin pro-nova-sb11 {
  font-family: $ff_PNsb;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0.77px;
}

@mixin pro-nova-sb10 {
  font-family: $ff_PNsb;
  font-size: 10px;
  line-height: 100%;
}

// pro-nova regular
@mixin pro-nova-r52 {
  font-family: $ff_PNr;
  font-size: 52px;
  line-height: 120%;
}

@mixin pro-nova-r40 {
  font-family: $ff_PNr;
  font-size: 40px;
  line-height: 120%;
}

@mixin pro-nova-r34 {
  font-family: $ff_PNr;
  font-size: 34px;
  line-height: 140%;
}

@mixin pro-nova-r31 {
  font-family: $ff_PNr;
  font-size: 31px;
  line-height: 140%;
}

@mixin pro-nova-r28 {
  font-family: $ff_PNr;
  font-size: 28px;
  line-height: 140%;
}

@mixin pro-nova-r26 {
  font-family: $ff_PNr;
  font-size: 26px;
  line-height: 140%;
}

@mixin pro-nova-r20 {
  font-family: $ff_PNr;
  font-size: 20px;
  line-height: 160%;
}

@mixin pro-nova-r19 {
  font-family: $ff_PNr;
  font-size: 19px;
  line-height: 140%;
}

@mixin pro-nova-r18 {
  font-family: $ff_PNr;
  font-size: 18px;
  line-height: 160%;
}

@mixin pro-nova-r17 {
  font-family: $ff_PNr;
  font-size: 17px;
  line-height: 140%;
}

@mixin pro-nova-r16 {
  font-family: $ff_PNr;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 1.12px;
}

@mixin pro-nova-r14 {
  font-family: $ff_PNr;
  font-size: 14px;
  line-height: 160%;
}

@mixin pro-nova-r13 {
  font-family: $ff_PNr;
  font-size: 13px;
  line-height: 140%;
}

@mixin pro-nova-r12 {
  font-family: $ff_PNr;
  font-size: 12px;
  line-height: 140%;
}

@mixin pro-nova-r11 {
  font-family: $ff_PNr;
  font-size: 11px;
  line-height: 140%;
}

@mixin pro-nova-r10 {
  font-family: $ff_PNr;
  font-size: 10px;
  line-height: 140%;
}

@mixin pro-nova-r8 {
  font-family: $ff_PNr;
  font-size: 8px;
  line-height: 140%;
}
