.banner-info {
  // .banner-info__description
  &__description {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 40px;
    margin-bottom: 110px;

    @include media-extra-large {
      margin-top: 50px;
      margin-bottom: 150px;
    }

    @include media-large {
      margin-top: 30px;
      margin-bottom: 120px;
    }

    @include media-medium {
      flex-direction: column;
      gap: 43px;
      margin-top: 40px;
      margin-bottom: 90px;
    }

    @include media-small {
      margin-top: 20px;
      gap: 20px;
      margin-bottom: 55px;
    }

    & p {
      color: $blue;
      @include pro-nova-r26;
      text-transform: uppercase;

      @include media-extra-large {
        @include pro-nova-r31;
      }

      @include media-large {
        @include pro-nova-r19;
        margin-left: 20px;
      }

      @include media-medium {
        @include pro-nova-r26;
        width: 100%;
      }

      @include media-small {
        @include pro-nova-r13;
        letter-spacing: unset;
        line-height: 150%;
      }
    }
  }

  // .banner-info__logo
  &__logo {
    width: 717px;
    min-height: 114px;

    & img {
      width: 100%;
      height: 100%;
    }

    @include media-extra-large {
      width: 862px;
      min-height: 137px;
      margin-bottom: 14px;
    }

    @include media-large {
      width: 553px;
      min-height: 88px;
      margin-bottom: 6px;
    }

    @include media-medium {
      width: 100%;
      height: auto;
      min-height: unset;
      margin-bottom: 0;
    }
  }
}
