//? Брейк-поинты
$xl: 1769.5px; // Desktop and higher 1770
$lg: 1280.5px; // Wide desktops
$md: 1023.5px; // Laptops + tablets
$sm: 767.5px; // Mobile devices
$xxs: 320px; // Min template device width
