//! ================================================================
//! Настройки Контейнера
/*
  (i) Стили будут применяться ко
  всем классам содержащим *__container
  Например header__container, main__container и т.д.
*/

[class*='__container'] {
  max-width: $container-max-width + $container-default-padding * 2;
  margin: 0 auto;
  padding: 0 $container-default-padding;

  @include container(
    (
      //? 1769-1280
      ($xl, 1360, 40),
      //? 1280-1024
      ($lg, 964, 30),
      //? 1024-768
      ($md, 688, 40),
      //? 767-
      ($sm, 100%, 20)
    )
  );
}
